<h2>Changes</h2>

<ul>
  <li>2.5 レーサーランキング & 問題の横にトップレーサー名を表示　2019-06-04</li>
  <li>2.4 ランキングトップのコードを７日間隠す & テーマ編集可能（管理者のみ）　2019-05-30</li>
  <li>2.3 自分のコードを削除できるように & 時間を東京時間に　2019-05-29</li>
  <li>2.2 管理者ユーザーのみ、各種データの削除が可能に　2019-05-28</li>
  <li>2.1 細かなバグの修正（コード提出後、計測せずにページ遷移できない等）　2019-05-25</li>
  <li>2.0 複数のランキングを作成することができるように　2019-05-23</li>
  <li>バージョン1.0 からスタート　2019-05-19</li>
</ul>
