<h2>Changes</h2>

<ul>
  <li>2.15 問題の画像をコード内で使えるように & 問題の編集権限を解放 2019-07-30</li>
  <li>2.14.2 画像の削除が可能に（管理者のみ） & 画像のファイル名表示 & 対応するファイル形式は「jpg jpeg gif png」のみ　2019-07-30</li>
  <li>2.14.1 問題一覧を新しい問題が上になるように 2019-07-30</li>
  <li>2.14 問題に画像(~5MB)をアップロードできるように 2019-07-26</li>
  <li>2.13 ポイントを棒グラフで表示 2019-06-16</li>
  <li>2.12.1 タイム表示のバグ修正 2019-06-14</li>
  <li>2.12 問題の横に、計測済コードの数を表示 2019-06-10</li>
  <li>2.11 一位が新しくなったら一位の名前を赤に、新しい投稿があったらタイトルを赤に、両方新しくなったら両方赤に。 2019-06-10</li>
  <li>2.10 計測時のuptimeを記録。過去のuptimeは、0.0とする。　2019-06-10</li>
  <li>2.9 回答ゼロの問題の文字色を薄い青色に　2019-06-06</li>
  <li>2.8.1 pre内の文章の折り返し化　2019-06-06</li>
  <li>2.8 1位が新しくなった問題（計測から24時間以内）の文字色を赤に（トップページ）　2019-06-05</li>
  <li>2.7 問題内のランキングをテーブル表示 & 計測日時を等幅フォント　2019-06-05</li>
  <li>2.6 問題内のコードインデント対応　2019-06-05</li>
  <li>2.5 レーサーランキング & 問題の横にトップレーサー名を表示　2019-06-04</li>
  <li>2.4 ランキングトップのコードを７日間隠す & テーマ編集可能（管理者のみ）　2019-05-30</li>
  <li>2.3 自分のコードを削除できるように & 時間を東京時間に　2019-05-29</li>
  <li>2.2 管理者ユーザーのみ、各種データの削除が可能に　2019-05-28</li>
  <li>2.1 細かなバグの修正（コード提出後、計測せずにページ遷移できない等）　2019-05-25</li>
  <li>2.0 複数のランキングを作成することができるように　2019-05-23</li>
  <li>バージョン1.0 からスタート　2019-05-19</li>
</ul>
