<% @themes.each do |theme| %>
  <h2>
    <%= link_to theme.title, theme_path(theme) %>
    <% if logged_in? && current_user.admin? %>
      | <%= link_to "delete", theme, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% end %>
  </h2>
<% end %>

<% if logged_in? %>
  <%= link_to '問題作成', new_theme_path, class: "btn btn-primary" %>
<% end %>

<hr>
<%= render 'themes/changes' %>
