<h1>レーサーリスト</h1>

<% @users.each do |user| %>
  <%= link_to user.name, user_path(user)%>
  <% if logged_in? && current_user.admin? %>
    | <%= link_to "delete", user, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
  <hr>
<% end %>
