<h1><%= @user.name %></h1>

<p>提出コード一覧</p>
<% @user.codes.each do |code| %>
  <% if code.code_time.nil? %>
    <%= link_to "#{code.theme.title}: 未計測", code_path(code) %>
  <% else %>
    <%= link_to "#{code.theme.title}: #{code.code_time.time.to_s} [ms]", code_path(code) %>
  <% end %>
  <div style="float: right"><%= code.created_at %></div>
  <hr>
<% end %>
