<h1><%= @user.name %></h1>

<p>提出コード一覧</p>
<% @user.codes.each do |code| %>
  <%= link_to code.code_time.time.to_s, code_path(code) %>
  <div style="float: right"><%= code.created_at %></div>
  <hr>
<% end %>
